prog-java-server/ToDosLogServer/evento.xsd

<?xml version="1.0"  encoding="UTF-8"?>
<!-- evento.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EventoDiNavigazioneGUI">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nomeApplicazione"/>
        <xs:element type="xs:string" name="indirizzoIP"/>
        <xs:element type="xs:string" name="data"/>
        <xs:element type="xs:string" name="nomeEvento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
