prog-java-server/evento.xsd

<?xml version="1.0"  encoding="UTF-8"?>
<!-- evento.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Evento">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nomeApplicazione"   type="xs:string"  />
        <xs:element name="indirizzoIP"      type="xs:string"  />
        <xs:element name="data"         type="xs:date"    />
        <xs:element name="nomeEvento"       type="xs:string"  />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
